body{
    background-color: black;
    margin: auto;
    font-size: larger;
    gap: 40px;
    font-style: italic;
    padding: 22px;
    border: 24px;
    text-align: center;
    background-position: 25px;
    display: flex;
}