body{
    background-color: violet;
    margin: auto;
    font-size: larger;
    gap: 40px;
    font-style: arial;
    padding: 22px;
    border: 24px;
    text-align: justify;
    background-position: 26px;
    display: flex;
}